$bgcolor: #222222;
$fontcolor: #acacac;

.navbar {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  background: $bgcolor;
  color: $fontcolor;
  
}

.leftnavcontainer {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:66vw;
  column-gap:1vw;
  border:solid 0px red;

}

.logo {
  font-size:1.2rem;
  letter-spacing:0.2rem;
}

ul {
  list-style-type: none;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  column-gap: 1vw;
}

.user {
  text-align:right;
  width:20vw;
  border:solid 0px red;
  display:flex;
  flex-direction:row;
  column-gap:0.5vw;
  justify-content:flex-end;
}
.hamburgerMenu {
  z-index:1;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .leftnavcontainer {
    width:60%;
  }

  .user {
    width:28%;
  }
}

@media only screen and (max-width: 767px) {
  .navigation {
    visibility:hidden;
    width:0;
  }

  .leftnavcontainer {
    width: 80%;
  }

  .user {
    visibility:hidden;
    width:0;
  }

  .hamburger {
    background: url('/assets/menu.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width:5vw;
    height:5vw;
    
  }

  .hamburgerMenu {
    background:#222222;
    position:absolute;
    width:100%;
    height:100%;
  }

  .navbar {
    max-height: 40px;
    width:100%;
  }

  .hamburgerSecondary {
    display:flex;
    flex-direction:column;
    color:#acacac;
    font-size:1.8rem;
    padding:0;
  }

  .hamburgerSecondary li {
    padding:0.5vw;
  }

  .closer {
    margin:0 auto;
    width:100%;
    text-align:center;
    font-size:1.5rem;
    color:white;
  }

  .logo {
    letter-spacing:0.1rem;
  }
}